@import url(variables.css);

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}


body {
    font-family: "mono";
    background-color: var(--view-bg-color);
    color: var(--text-color);
    font-size: 12px !important;
}

::-webkit-scrollbar {
    display: none;
}

button {
    border: none;
    background: transparent;
}

input {
    border: none;
    outline: none;
}

label {
    display: block;
    margin-bottom: 10px;
    color: var(--gray3);
}

ul, li {
    list-style: none;
}

form {
    margin: 30px 0;
}

a {
    text-decoration: none;
    color: var(--black);
}

.icon {color: var(--text-color);}

img {width: 70px;}

.none {display: none;}

.icons {color: var(--color3);}

.main-color {
    color: var(--main-color);
}

.gray-color-3 { color: var(--gray3);}

.gray-color-2 { color: var(--gray2);}

.bg-main {background: var(--main-color);}

.clickable {cursor: pointer;}

.viewport {
    position: relative;
    padding: 20px;
}

.container {
    position: relative;
    top: 70px;
}

/*=== Loader ===*/

.centerLoad {position: relative;}

.circle-loader {
    position: absolute;
    transform: translateY(50%);
    top: 200%;
    left: 50%;
    z-index: 1000;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);                 
    -o-transform: translateY(50%);
}

.circle-loader div {
    height: 10px;
    width: 10px;
    background-color: var(--main-color);
    border-radius: 50%;
    position: absolute;
    animation: 0.8s opaque ease-in-out infinite both;
}
  
.circle-loader > div:nth-child(1) {
    top: -25px;
    left: 0;
}
  
.circle-loader > div:nth-child(2) {
    top: -17px;
    left: 17px;
    animation-delay: 0.1s;
}
  
.circle-loader > div:nth-child(3) {
    top: 0;
    left: 25px;
    animation-delay: 0.2s;
}
  
.circle-loader > div:nth-child(4) {
    top: 17px;
    left: 17px;
    animation-delay: 0.3s;
}
.circle-loader > div:nth-child(5) {
    top: 25px;
    left: 0;
    animation-delay: 0.4s;
}
  
.circle-loader > div:nth-child(6) {
    top: 17px;
    left: -17px;
    animation-delay: 0.5s;
}
  
.circle-loader > div:nth-child(7) {
    top: 0;
    left: -25px;
    animation-delay: 0.6s;
}
  
.circle-loader > div:nth-child(8) {
    top: -17px;
    left: -17px;
    animation-delay: 0.7s;
}


  
@keyframes opaque {
    0% {
      opacity: 0.1;
    }
    40% {
      opacity: 1;
    }
    80% {
      opacity: 0.1;
    }
    100% {
      opacity: 0.1;
    }
}



/* ====================================================================== */
/* Menu */

#app {
    margin-bottom: 170px;
}

.menu {
    position: relative;

}


.fade-in {
    animation: fadeIn 0.3s ease-in forwards;
    -webkit-animation: fadeIn 0.3s ease-in forwards;
}

.fade-out {
    animation: fadeout 0.3s ease-out forwards;
    -webkit-animation: fadeout 0.3s ease-out forwards;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeout {

    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translate(10px);
    }

    
}


.menu ul {
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0;
    padding: 20px 30px;
    background-color: var(--view-bg-color);
}


.menu ul li {
    font-size: 1.5rem;
}


.menu ul li i:focus,
.menu ul li i:hover {
    color: var(--main-color);
}

.menu ul li.active a i{
    color: var(--main-color);
}

.send {
    background: #080b30;  
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.send a i {  color: var(--white);}


/* Header */

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px;
    margin-bottom: 30px;
    background: var(--view-bg-color);
}

header .profile-info .image-prpfile img {
    width: 50px;
}


header .profile-info .info .hi {

    font-size: var(--font-size-md);
    font-weight: 500;
    margin-bottom: 5px;
    color: var(--gray3);
}

header .profile-info .info .your-name {

    font-size: var(--font-size-md);
    font-weight: 500;
}

header .notifications {
    position: relative;
    font-size: 1rem;
    background: var(--gray2);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

header .notifications span {
    position: absolute;
    top: 0px;
    left: 30px;
    background-color: var(--red);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 5px solid var(--view-bg-color);
}


/* ====================================================================== */

/* Card */

.card {
    position: relative;
    padding: 10px;
    color: var(--white);
    border-radius: 10px;
    overflow: hidden;
    top: 70px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    z-index: -1;
}

.main-card {
    background: var(--main-color);
}

.finance {
    position: absolute;
    font-size: 11rem;
    opacity: 0.5;
    color: var(--history-bar-plus);
    transform: rotate(-14deg) translate(360px, -15px) scale(2.7);
    font-weight: bold;
    z-index: -1;
}

.amount-control .clr {
    color: var(--history-bar-plus);
}

.colored {
    background-image: url("../img/istockphoto-958693744-612x612.jpg");
}

.btn-card {
    position: relative;
    top: 70px;
    z-index: -1;
    
}

.btn-container {
    width: 100%;
    border-radius: 10px;
}

.btn-container button{
    width: 100%;
    padding: 20px;
    text-align: center;
    color: var(--white);
    font-size: 1.5rem;
}


/* ====================================================================== */

/* Sub-Menu */

.sub-menu .content {
    position: relative;
    top: 70px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    z-index: -1;
}

.sub-menu .icons-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color3);
    background: var(--gray2);
    border-radius: 50%;
    width: 65px;
    height: 65px;
    font-weight: bold;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.sub-menu .icons-menu i {
    font-size: 20px;
}

.sub-menu .dis-menu {
    color: var(--gray3);
}



/* ====================================================================== */

/* Transactions */

.transactions {
    position: relative;
    top: 70px;
    z-index: -1;
}

.transactions-icon {
    
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--view-bg-color);
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.transactions-icon img {
    width: 25px;
    height: 25px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.transactions-icon i {font-size: 20px;}

.transaction-content {
    padding: 10px;
    border-radius:10px;
}



.transaction-content .info-clainet{
    color: var(--gray3);
    margin-top: 10px;
}

.transaction-amount.amount-clr-red {
    font-weight: bold;
    color: var(--red);
}

.transaction-content.bg-color-red {
    background: var(--red2)
}

.transaction-content.bg-color-whiteblue {
    background: var(--main2)
}

.transaction-amount.amount-clr-blue {
    font-weight: bold;
    color: var(--main-color);
}

.transaction-content.bg-color-gray {
    background: var(--gray2)
}

.transaction-amount.amount-clr-whiteblack {
    font-weight: bold;
    color: var(--color3);
}



/* Forms Input */
.email-box {
    display: grid;
    grid-template-columns: 30% 70%;
}

.input-container {
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    background: var(--gray2);
    border-radius: 20px;
    padding: 15px 20px;
    z-index: -1;
}


.input-content {
    display: block;
    position: relative;
    
}

.input-content::after {
    content: "";
    position: absolute;
    background: var(--text-color);
    width: 1px;
    height: 100%;
    left: -10%;
    top: 0;
}

.input-content-no-after {display: block;}

  
/* Style the form icons */
.input-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    padding: 10px;
    min-width: 50px;
    font-size: 20px;
    color: var(--color3);
}

.in-label {
    margin-left: 10px;
}
  
  /* Style the input fields */
.input-field {
    width: 100%;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    background: none;
    outline: none;
    
}

.input-icon-password {
    position: absolute;
    right: 20px;
    font-size: 16px;
    top: 30px;
    bottom: 10px;
    cursor: pointer;
}

/* ================= Transactions ===============*/
.flex-trsns {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.recent-send {
    display: flex;
    flex: 1 0 130px;
}

.recent-send img {
    width: 40px;
    height: 40px;
}

.info-trans {
    background: var(--gray2);
    padding: 10px;
    margin-left: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    
}

.info-trans .name {
    text-wrap:unset;
}

.input-trans {position: relative;}

.input-trans .icon-zoom {
    position: absolute;
    top: 5px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.contact-container {margin-top: 30px;}

.contact img {
    width: 50px;
    height: 50px;
}

.contact-info  .name {
    font-size: 20px;
}



/* ======================================== Wallet ======================================== */
.record {
    background: var(--gray2);
    padding: 15px 10px ;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.record-active {
    background: var(--view-bg-color);
    width: 40%;
    padding: 15px 10px ;
    border-radius: 10px;
}

.record-dis > *, .record-with > * {
    font-weight: lighter;
    font-size: 16px;
}


/* statsics */
.container-statistics   {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    height: 30vh;
}

.container-statistics .day {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;

}

.container-statistics .day .content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    background-color: var(--gray2);
    width: 100%;
    height: 25vh;
    border-radius: 10px;
    align-items:flex-end;
}

.container-statistics .day .content .blue {
    width: 30%;
    height: calc(100% - 20px);
    background-color: var(--main-color);
    border-radius: 5px;
    margin: 10px 0;
}

.container-statistics .day .content .whiteblue {
    width: 30%;
    height: calc(100% - 20px);
    background-color: var(--history-bar-plus);
    border-radius: 5px;
    margin-bottom: 10px;
}

.container-statistics .day  .content-sat .blue {
    width: 30%;
    height: calc(50% - 20px);
    background-color: var(--main-color);
    border-radius: 5px;
}

.container-statistics .day  .content-sat .whiteblue {
    width: 30%;
    height: calc(70% - 20px);
    background-color: var(--history-bar-plus);
    border-radius: 5px;
    
}


.container-statistics .day .content-sun .blue {
    width: 30%;
    height: calc(20% - 20px);
    background-color: var(--main-color);
    border-radius: 5px;
}

.container-statistics .day .content-sun .whiteblue {
    width: 30%;
    height: calc(30% - 20px);
    background-color: var(--history-bar-plus);
    border-radius: 5px;
    
}


.container-statistics .day .content-mon .blue {
    width: 30%;
    height: calc(80% - 20px);
    background-color: var(--main-color);
    border-radius: 5px;
}

.container-statistics .day .content-mon .whiteblue {
    width: 30%;
    height: calc(100% - 20px);
    background-color: var(--history-bar-plus);
    border-radius: 5px;
    
}

.container-statistics .day .content-tu .blue {
    width: 30%;
    height: calc(90% - 20px);
    background-color: var(--main-color);
    border-radius: 5px;
}

.container-statistics .day .content-tu .whiteblue {
    width: 30%;
    height: calc(90% - 20px);
    background-color: var(--history-bar-plus);
    border-radius: 5px;
    
}

.container-statistics .day  .content-wen .blue {
    width: 30%;
    height: calc(70% - 20px);
    background-color: var(--main-color);
    border-radius: 5px;
}

.container-statistics .day  .content-wen .whiteblue {
    width: 30%;
    height: calc(50% - 20px);
    background-color: var(--history-bar-plus);
    border-radius: 5px;
    
}

.container-statistics .day  .content-th .blue {
    width: 30%;
    height: calc(80% - 20px);
    background-color: var(--main-color);
    border-radius: 5px;
}

.container-statistics .day  .content-fri .whiteblue {
    width: 30%;
    height: calc(60% - 20px);
    background-color: var(--history-bar-plus);
    border-radius: 5px;
    
}

.container-statistics .day  .content-fri .blue {
    width: 30%;
    height: calc(70% - 20px);
    background-color: var(--main-color);
    border-radius: 5px;
}

.mono {
    position: relative;
    left: calc(50% - 40px);
}

.wallet-trans {
    top: 0px;
}


/* ======================================== Progile ======================================== */

.jumptroon-profile {
    flex-direction: column;
    gap: 10px;
}

.jumptroon-profile img {
    width: 150px;
    height: 150px;
}

.verfied {
    height: 25px;
    color: var(--white);
    background: var(--greenalt);
    gap: 10px;
    display: flex;
    justify-content: flex-end;
    border-radius: 20px;
    align-items: center;
    padding: 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-weight: bold;
}

.verfied i {
    display: inline-block;
    text-align: right;
    font-size: 20px;
    color: #FFFFFF;
}

.informations > ul li i {font-size: 18px;}

.icon-font {font-size: 18px;}


.red-color {color: var(--red);}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -30%;
    gap: 10px;
    width: 100%;
    flex-direction: column;
}

footer span {font-weight: lighter;}

footer p i.icon-heart {color: var(--red); margin-bottom: 10px;}


/* Toggle */


.toggle {
    position: relative;
    height: 25px;
    width: 50px;
    cursor: pointer;
    border-radius: 120px;
    background: #7f808c;
    transition: 0.5s;
}

.toggle__indicator {
    position: absolute;
    top: 2px;
    left: 25px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--view-bg-color);
    transform: scale(80%);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.toggle.dark {
    background: var(--main-color);
}

.toggle.dark .toggle__indicator {
    left:3px;
    background: var(--white);
}

